@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
 body{
  font-family: 'Poppins', sans-serif;
 }
    .form-control {
  border-radius: 0;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

.btn-primary:hover {
  background-color: #333;
  border-color: #333;
}
#table features{
    border-collapse: collapse;
    text-align: center;
}
img.img-fluid{
margin-top: -50px;  
}
.form-group{
  padding: 10px;
}
#table feature{
    margin-left: 300px;

}

/* Hero Section */
.hero_section {
    min-height: 100vh;
    background: var(--primary-color);
}

.hero_container {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    padding-top: 85px;
    min-height: calc(100vh - 85px);
    justify-content: space-between;
}

.hero_container .text_section h2 {
    font-size: 40px;
    color: var(--secondary-color);
}

.hero_container .text_section h3 {
    font-size: 35px;
    font-weight: 600;
    color: var(--white-color);
    margin-top: 8px;
}

.hero_container .text_section p {
    font-size: 20px;
    font-weight: 400;
    color: var(--white-color);
    margin: 24px 0 40px;
    max-width: 70%;
}

.hero_container .hero_section_button {
    display: flex;
    gap: 24px;
}

.hero_container .hero_section_button .button {
    padding: 8px 28px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.hero_container .hero_section_button .button:last-child {
    color: var(--white-color);
    border-color: var(--white-color);
    background: none;
}

.hero_container .hero_section_button .button:first-child:hover {
    color: var(--white-color);
    background: transparent;
    border-color: var(--white-color);
}

.hero_container .hero_section_button .button:last-child:hover {
    color: var(--primary-color);
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.hero_container .image_section {
    max-width: 45%;
}

.hero_container .image_section img {
    width: 100%;
}