    /* Global Styles */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #121212;
  background-color: #f9f9f9;
}

h1, h2 {
  margin-bottom: 10px;
  color: #121212;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

p {
  margin-bottom: 20px;
}

ul, ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #050505;
}

a:hover {
  text-decoration: underline;
}

/* Header Styles */

header {
  background-color: #3C3C3C;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
}

/* Footer Styles */

footer {
  background-color: #3C3C3C;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  clear: both;
}

footer p {
  margin-bottom: 0;
}